body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 980px;
    font-size: 18px;
    line-height: 28px;
}
span{
    font-weight: bold;
}
.primeirasecao {
    background-color: #afddfb;
    
}
.logoimage{
    width: 150px;
}
.menu{
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}
.submenu{
    font-size: 18px;
    color:#1d1d1d;
    border-bottom: solid 2px #1d1d1d;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;

}
.segundasecao{
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.terceirasecao{
    color:#1d1d1d;
    margin-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.h3terceirasecao{
    color:#1c81c0;
}
.assinaturaimovel{
    width: 450px;
}
.span1d80c1{
    color:#1d80c1;
}
.quartasecao{
    background-color: #1d80c1;
    color: #ffffff;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.listaservicos{
    width: 135px;
    margin: 40px auto 40px;
    text-align: center;
}
.quintasecao{
    padding-top: 30px;
    padding-bottom: 30px;

}
.sextasecao{
    color: #ffffff;
    margin-top:30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1d80c1;
}
.imagemcorretores{
    width: 450px; 
}
.quartasecao span{
    color: #fff81b;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 135px;

}
.listaemail{
    list-style: none;
}
